/* Font family goes here */

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: /*font place holders */;
    font-weight: 0;
    color: black;
}

/* logo */
#logo{
    
    width: 500px;
    height: 500px;
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#menu li {
    margin: 0 15px;
    list-style-type: none;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}