/* Font family goes here */

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: /*font place holders */;
    font-weight: 0;
    color: black;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li {
    margin: 0 15px;
    list-style-type: none;
    display: inline;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}