/* Font family goes here */

*{
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: /*font place holders */;
    font-weight: 0;
    color: black;
}

header {
    background-color: white;
    padding: 10px;
    padding-left: 30px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
} 

#logo {
    width: 400px;
    height: 60px;
}

#nav-bar {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#nav-bar li {
    margin: 0 15px;
    list-style-type: none;
    display: inline;
}

#nav-bar a {
    text-decoration: none;
    color: black;
}

.Discography
.Members
.home {
    border-bottom: 1px solid #3a3a3a;
}


/* logo */
#logo{
    
    width: 100px;
    height: 100px;
}
/* navigation links */

.menu {
    display: flex;
    justify-content: center;
    position: static;
    top: 0;
    padding: 0px 0px;
    width: 100%;
    background-color: white;
}
.menu li {
    margin: 0 5px;
    list-style-type: none;
    display: inline;
}
.menu a {
    text-decoration: none;
    color: inherit;
}
.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/band-place-holder-image.jpg')no-repeat center center;


    /* zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
}

/* Members Bios */

.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-text-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-members {
    padding: 0px 30px;
}

img{
    width:100%;
    max-width:400px;
}
.sub-members img {
    border-radius: 50%;
}

/* footer */

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social ul {
    padding-top: 10px;
}

.social i {
    font-size: 2em;
    margin: 2%;
    padding: 1%;
    border-radius: 50%;
    color: black;
}

footer {
height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}